@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    max-width: 1280px;
}
:root{
    --primary-white-color: rgb(255, 255, 255);
    --primary-orange-color: rgb(255, 84, 0);
    --primary-black-color: rgb(19, 19, 24);
    --description-color1: rgba(19, 19, 24, 0.7);
    --description-color2: rgb(90, 90, 93);
    --header-input-color: rgba(19, 19, 24, 0.5);
    --input-color: rgba(19, 19, 24, 0.3);
    --list-color: rgb(66, 66, 71);
}
section{
    margin: 88px 120px;
}
.banner_title{
    font-size: 3.52rem; /* 64px */
    font-weight: 800;
    color: var(--primary-white-color);
}
.title1{
    font-size: 2.2rem; /* 40px */
    font-weight: 800;
    color: var(--primary-black-color);
}
.title2{
    font-size: 1.32rem; /* 24px */
    font-weight: 800;
    color: var(--primary-black-color);
}
.banner_description{
    font-size: 0.88rem; /* 16px */
    color: var(--primary-white-color);
    margin: 21px auto 42px;
    width: 85%;
}
.description1{
    font-size: 0.88rem; /* 16px */
    color: var(--description-color1);
    padding: 21px 0;
}
.description2{
    font-size: 0.88rem; /* 16px */
    color: var(--description-color2);
    padding: 14px 0;
}
nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--list-color);
}
nav ul li a:hover{
    color: var(--primary-orange-color);
}
.list1{
    font-size: 0.88rem; /* 16px */
    color: var(--description-color1);
    padding: 14px 0;
}
.list2{
    font-size: 0.88rem; /* 16px */
    font-weight: 700;
    color: var(--primary-black-color);
    padding: 14px 0;
}
.price{
    font-size: 1.1rem;  /* 20px */
    font-weight: 800;
    color: var(--primary-orange-color);
    padding-bottom: 21px;
}
.btn{
    font-size: 1.1rem;  /* 20px */
    font-weight: 800;
    color: var(--primary-white-color);
    background-color: var(--primary-orange-color);
    padding: 12px 21px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.destination_img_title{
    font-size: 1.54rem;  /* 28px */
    font-weight: 800;
    color: var(--primary-white-color);
}
.section_header{
    width: 565px;
    text-align: center;
    margin: 21px auto;
    padding-bottom: 21px;
}


/* mobile responsive design */
@media screen and (max-width: 576px){
    /* common style */
    section{
        margin: 20px;
    }
    .banner_title{
        font-size: 1.21rem; /* 22px */
    }
    .title1, .title2{
        font-size: 1.1rem;  /* 20px */
    }
    .banner_description, .description1, .description2, .list1, .list2{
        font-size: 0.77rem; /* 14px */
        width: 100%;
    }
    nav ul{
        width: 30%;
        flex-direction: column;
    }
    nav ul li{
        padding: 10px 0;
    }
    .price{
        font-size: 0.88rem; /* 16px */
        padding-bottom: 14px;
    }
    .btn{
        font-size: 0.99rem;  /* 18px */
        font-weight: 700;
    }
    .destination_img_title{
        font-size: 1.1rem;  /* 20px */
        font-weight: 700;
    }
    .section_header{
        width: 90%;
        margin: 0 auto;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    /* common style */
    section{
        margin: 40px 80px;
    }
    .banner_title{
        font-size: 2.31rem; /* 42px */
    }
    .title1{
        font-size: 1.65rem;  /* 30px */
    }
    .title2{
        font-size: 1.21rem;  /* 22px */
    }
    .banner_description, .description1, .description2, .list1, .list2{
        width: 95%;
    }
    .description1{
        padding:16px 0
    }
    .list1, .list2{
        padding: 10px 0;
    }
    nav ul{
        width: 50%;
    }
    .price{
        font-size: 0.99rem; /* 18px */
    }
    .destination_img_title{
        font-size: 1.32rem;  /* 24px */
    }
}













/* header section */
.header{
    margin: 20px 120px 0;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav .header_brand{
    display: flex;
    align-items: center;
}
.header nav .header_brand img{
    margin-right: 10px;
}
.header nav #dropdown_btn, .dropdown_btn_icon{
    display: none;
}


.header .banner{
    height: 300px;
    padding: 50px 162px;
    margin-top: 44px;
    background-image: linear-gradient(180deg,  rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('../images/header.png');
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 14px;
}
.header .banner .banner_container{
    width: 680px;
}
.header .banner .banner_container_form{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px;
    background-color: var(--input-color);
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .banner .banner_container_form input, select{
    width: 145px;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 14px;
    color: var(--header-input-color);
}
.header .banner .banner_container_form input{
    width: 120px;
}
.header .banner .banner_container_form .btn{
    width: 145px;
    height: 47px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.88rem; /* 16px */
}

/* mobile responsive design */
@media screen and (max-width: 576px){
    .header{
        margin: 20px;
    }
    .header nav .dropdown_btn_icon{
        display: block;
        cursor: pointer;
    }
    .header nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 80px;
        right: -100%;
        transition: all .50s ease;
        backdrop-filter: blur(200px);
        background-color: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        justify-content: flex-start;
    }
    .header nav ul li{
        padding: 30px 0;
    }
    #dropdown_btn:checked ~ ul{
        right: 0;
    }

    .header .banner{
        height: 400px;
        padding: 28px 14px;
        margin-top: 20px;
        background-size: 300% 100%;
    }
    .header .banner .banner_container{
        width: 100%;
        height: 100%;
    }


    .header .banner .banner_container_form{
        flex-direction: column;
        padding: 14px;
        gap: 14px;
    }
    .header .banner .banner_container_form input{
        width: 94%;
    }
    .header .banner .banner_container_form select{
        width: 100%;
    }
    .header .banner .banner_container_form .btn{
        width: 100%;
        justify-content: center;
    }
    .header .banner .banner_container_form .btn img{
        margin-right: 5px;
    }
}



/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .header{
        margin: 40px 80px;
    }
    .header .banner .banner_container_form{
        gap: 14px;
    }
    .header .banner .banner_container_form select{
        width: 130px;
    }
    .header .banner .banner_container_form input{
        width: 100px;
    }
    .header .banner .banner_container_form .btn{
        width: 130px;
    }
}

















/* tours section */
.tours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 47px;
}
.tours .tours_container ul{
    width: 80%;
    padding: 0 20px;
}
.tours .tours_container .btn{
    margin-top: 14px;
}
.tours .tours_img_container{
    height: 449px;
    width: 486px;
}
.tours .tours_img_container img{
    height: 100%;
    width: 100%;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .tours{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .tours .tours_img_container{
        height: 300px;
        width: auto;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .tours{
        gap: 30px;
    }
    .tours .tours_container .btn{
        margin-top: 6px;
    }
    .tours .tours_img_container{
        height: 449px;
        width: 400px;
    }
}




















/* destination section */
.destination img{
    width: 100%;
    height: 250px;
    background-color: rgba(19, 19, 24, 0.2);
    border-radius: 14px;
}
.destination .destination_img_box{
    position: relative;
}
.destination .destination_img_box .destination_img_title{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destination .destination_container_row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
}
.destination .destination_container_row2{
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr;
    gap: 21px;
    margin: 21px 0;
}
.destination .destination_container_row3{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 21px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .destination img{
        width: 100%;
        height: 200px;
    }
    .destination .destination_container_row1{
        grid-template-columns: auto;
        gap: 14px;
    }
    .destination .destination_container_row2{
        grid-template-columns: auto;
        gap: 14px;
    }
    .destination .destination_container_row3{
        grid-template-columns: auto;
        gap: 14px;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}















/* choose us section */
.choose .choose_container{
    display: grid;
    grid-template-areas: "item1 item1 item2 item2"
                         "empt item3 item3 empt2";
    gap: 21px;
}
.choose .choose_container .grid1{
    grid-area: item1;
    background-color: rgba(251, 181, 99, 0.2);
}
.choose .choose_container .grid2{
    grid-area: item2;
    background-color: rgba(41, 206, 246, 0.2);
}
.choose .choose_container .grid3{
    grid-area: item3;
    background-color: rgba(233, 68, 68, 0.2);
}
.choose .choose_container .choose_container_card{
    padding: 28px;
    border-radius: 14px;
}
.choose .choose_container .choose_container_card .title2{
    padding: 28px 0 14px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .choose .choose_container{
        grid-template-areas: "item1"
                             "item2"
                             "item3";
    }
    .choose .choose_container .choose_container_card .title2{
        padding: 14px 0 0;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}


















/* deals section */
.deals .deals_odd_container{
    height: 440px;
    background-image: url("../images/deals1.png");
    background-position: center;
    background-size: cover;
    border-radius: 14px;
    position: relative;
}
.deals .deals_even_container{
    height: 440px;
    background-image: url("../images/deals2.png");
    background-position: center;
    background-size: cover;
    border-radius: 14px;
    margin: 21px 0;
    position: relative;
}
.deals .deals_odd_box{
    position: absolute;
    top: 13%;
    right: 4%;
}
.deals .deals_even_box{
    position: absolute;
    top: 10%;
    left: 4%;
}
.deals .deals_container_box{
    width: 400px;
    border: 2px solid var(--primary-white-color);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 44px 60px 44px 44px;
}
.deals .deals_container_box .deals_box_header{
    margin-bottom: 21px;
    display: flex;
}
.deals .deals_container_box .deals_box_header .deals_header_content{
    display: flex;
    align-items: center;
    margin-right: 21px;
}
.deals .deals_container_box .deals_box_header .deals_header_content img{
    height: 18px;
    width: 18px;
    margin-right: 6px;
}
.deals .deals_btn{
    display: block;
    margin: 42px auto;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .deals .deals_odd_container{
        height: 480px;
        background-size: 250% 100%;
    }
    .deals .deals_even_container{
        height: 480px;
        background-size: 250% 100%;
        margin: 14px 0;
    }
    .deals .deals_odd_box{
        top: 43%;
        left: 15px;
    }
    .deals .deals_even_box{
        top: 43%;
        left: 15px;
    }
    .deals .deals_container_box{
        width: 85%;
        padding: 20px;
    }
    .deals .deals_container_box .deals_box_header{
        margin-bottom: 14px;
    }
    .deals .deals_container_box .deals_box_header {
        margin-right: 14px;
    }
    .deals .deals_btn{
        margin: 21px auto;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .deals .deals_odd_container{
        height: 400px;
    }
    .deals .deals_even_container{
        height: 400px;
    }
    .deals .deals_container_box{
        width: 50%;
        padding: 24px;
    }
    .deals .deals_btn{
        margin: 32px auto;
    }
}















/* package section */
.package{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 40px;
}
.package .package_container ul{
    width: 80%;
    padding: 0 20px;
}
.package .package_container .btn{
    margin-top: 14px;
}
.package .package_video_container iframe{
    height: 100%;
    width: 100%;
    border-radius: 14px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .package{
        grid-template-columns: repeat(1, 1fr);
        gap: 21px;
    }
    .package .package_container ul{
        width: 95%;
    }
    .package .package_video_container{
        height: 250px;
        width: auto;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}














/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}














/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}














/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}